* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/https-image.jpg');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    position: relative;
}
body::after {
    content: "";
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}