* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/programming-image.png');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}